
/*-=-=-=-==-==-=-=-=-=-=-=-=-==-==-==-= Common Library -=-=-------------=-=-*/

.no_margin{margin:0!important}.no_padding{padding:0!important}.no_margin_left_right{margin-left:0!important;margin-right:0!important}.no_margin_top_bottom{margin-top:0!important;margin-bottom:0!important}*,p{margin:0;font-family: 'Montserrat', sans-serif;}.no_padding_left_right{padding-left:0!important;padding-right:0!important}.no_padding_top_bottom{padding-top:0!important;padding-bottom:0!important}*{outline:0;padding:0}.html{font-size:14px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{font-family: 'Montserrat', sans-serif;font-size:12px}a,button,h1,h2,h3,h4,h5,h6,p,section{font-family: 'Montserrat', sans-serif;}a,button{text-decoration:none;color:#555;display:inline-block}.block_element,address,article,aside,footer,header,nav,section{display:block}a:focus,a:hover{color:#23527c;text-decoration:none}img{border:0;vertical-align:middle;max-width:100%}dl,ol,ul{list-style:none}.margin_top_5{margin-top:5px}.margin_top_10{margin-top:10px}.margin_top_20{margin-top:20px}.margin_top_30{margin-top:30px}.margin_top_40{margin-top:40px}.margin_top_50{margin-top:50px}.margin_top_60{margin-top:60px}.margin_top_70{margin-top:70px}.margin_top_80{margin-top:80px}.margin_top_90{margin-top:90px}.margin_top_100,.margin_top_110{margin-top:100px}.margin_top_120{margin-top:120px}.margin_top_130{margin-top:130px}.margin_bottom_5{margin-bottom:5px}.margin_bottom_10{margin-bottom:10px}.margin_bottom_20{margin-bottom:20px}.margin_bottom_30{margin-bottom:30px}.margin_bottom_40{margin-bottom:40px}.margin_bottom_50{margin-bottom:50px}.margin_bottom_60{margin-bottom:60px}.margin_bottom_70{margin-bottom:70px}.margin_bottom_80{margin-bottom:80px}.margin_bottom_90{margin-bottom:90px}.margin_bottom_100{margin-bottom:100px}.margin_bottom_120{margin-bottom:120px}.margin_bottom_130{margin-bottom:130px}.padding_top_5{padding-top:5px}.padding_top_10{padding-top:10px}.padding_top_20{padding-top:20px}.padding_top_30{padding-top:30px}.padding_top_40{padding-top:40px}.padding_top_50{padding-top:50px}.padding_top_60{padding-top:60px}.padding_top_70{padding-top:70px}.padding_top_80{padding-top:80px}.padding_top_90{padding-top:90px}.padding_top_100{padding-top:100px}.padding_top_120{padding-top:120px}.padding_top_130{padding-top:130px}.padding_bottom_5{padding-bottom:5px}.padding_bottom_10{padding-bottom:10px}.padding_bottom_20{padding-bottom:20px}.padding_bottom_30{padding-bottom:30px}.padding_bottom_40{padding-bottom:40px}.padding_bottom_50{padding-bottom:50px}.padding_bottom_60{padding-bottom:60px}.padding_bottom_70{padding-bottom:70px}.padding_bottom_80{padding-bottom:80px}.padding_bottom_90{padding-bottom:90px}.padding_bottom_100{padding-bottom:100px}.padding_bottom_120{padding-bottom:120px}.padding_bottom_130{padding-bottom:130px}button{background:0 0;border:none}.table_element{display:table}.inline_block_element{display:inline-block}ul{margin-bottom:0}
/*-=-=-=-==-==-=-=-=-=-=-=-=-==-==-==-= Common Library -=-=-------------=-=-*/

body{
	padding-top:80px;
}
.ubontu{
	font-family: 'Ubuntu', sans-serif;
}
.monsarat{
	font-family: 'Montserrat', sans-serif;
}
.tv_show_link li a,
.navigation_role .navbar-nav > li > a,
.h1_heading h3 a,.footer_link_holder a,
.inner_banner p a,
.inner_banner .login_page_style a,
.login_page_style input,
.premium_package .view_channel,
.input-group .form-control{
	transition:all ease-in-out 0.3s;
}

/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0c6291;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:4px;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: #000;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}


.hvr-rectangle-in1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:4px;
}
.hvr-rectangle-in1:hover, .hvr-rectangle-in1:focus, .hvr-rectangle-in1:active {
  color: #fff;
}
.hvr-rectangle-in1:hover:before, .hvr-rectangle-in1:focus:before, .hvr-rectangle-in1:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
